@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-primary: #211c1c;
  --color-secondary: #ff791f;

  /* 1. Daftarkan nama animasi, durasi, dan gayanya di sini */
  --animate-marquee: marquee 25s linear infinite;

  /* 2. Masukkan keyframes-nya DI DALAM blok @theme */
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}